In [9]:
from pyspark.sql import SparkSession
from pyspark import SparkConf

sparkConf = SparkConf()
sparkConf.setMaster("spark://spark-master:7077")
sparkConf.setAppName("Lab5_DF_EX1")
sparkConf.set("spark.driver.memory", "2g")
sparkConf.set("spark.executor.cores", "1")
sparkConf.set("spark.driver.cores", "1")

# create the spark session, which is the entry point to Spark SQL engine.
spark = SparkSession.builder.config(conf=sparkConf).getOrCreate()
df = spark.read.format("csv").option("header", "true") \
       .load("/home/jovyan/data/sales.csv")

how many distinct products have been sold in each store? 

There are several alternative ways to do this.

In [10]:
# 1
df.select("store_id", "product_id").distinct().show()
# 2
df.select("store_id", "product_id").dropDuplicates().show()
#3
df.dropDuplicates(["store_id","product_id"]).select("store_id","product_id").show()
# https://towardsdatascience.com/distinct-vs-dropduplicates-in-spark-3e28af1f793c

+--------+----------+
|store_id|product_id|
+--------+----------+
|       2|        22|
|       2|       138|
|       2|      1245|
|       2|       756|
|       3|       502|
|       3|       310|
|       3|      1009|
|       3|       315|
|       3|        42|
|       3|      1486|
|       3|        49|
|       3|       587|
|       3|       539|
|       6|      1238|
|       6|      1069|
|       6|      1401|
|       6|       152|
|       6|       162|
|       7|       273|
|       7|       752|
+--------+----------+
only showing top 20 rows

+--------+----------+
|store_id|product_id|
+--------+----------+
|       2|        22|
|       2|       138|
|       2|      1245|
|       2|       756|
|       3|       502|
|       3|       310|
|       3|      1009|
|       3|       315|
|       3|        42|
|       3|      1486|
|       3|        49|
|       3|       587|
|       3|       539|
|       6|      1238|
|       6|      1069|
|       6|      1401|
|       6|       152|
|       6|       162|
|       7|       273|
|       7|       752|
+--------+----------+
only showing top 20 rows

+--------+----------+
|store_id|product_id|
+--------+----------+
|       2|        22|
|       2|       138|
|       2|      1245|
|       2|       756|
|       3|       502|
|       3|       310|
|       3|      1009|
|       3|       315|
|       3|        42|
|       3|      1486|
|       3|        49|
|       3|       587|
|       3|       539|
|       6|      1238|
|       6|      1069|
|       6|      1401|
|       6|       152|
|       6|       162|
|       7|       273|
|       7|       752|
+--------+----------+
only showing top 20 rows

In [11]:
# Stop the spark context
spark.stop()