In [22]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("BasicDFOperationsApp").master("spark://spark-master:7077").getOrCreate()

Spark can infer the schema from the dataset.

In [23]:
df = spark.read.format("json").load("/home/jovyan/data/2015-summary.json")
df.schema

StructType(List(StructField(DEST_COUNTRY_NAME,StringType,true),StructField(ORIGIN_COUNTRY_NAME,StringType,true),StructField(count,LongType,true)))

We can also create a schema explicitly and use it to load and validate dataset. The recommendation is to use an explicit schema because schema inference can lead to precision issues (e.g., inferring Integer type as long type)

In [24]:
from pyspark.sql.types import StructField, StructType, StringType, LongType

explicitSchema = StructType([
 StructField("DEST_COUNTRY_NAME", StringType(), True),
 StructField("ORIGIN_COUNTRY_NAME", StringType(), True),
 StructField("count", LongType(), False, metadata={"somemetaname":"somemetavalue"})
])

dfes = spark.read.format("json").schema(explicitSchema)\
          .load("/home/jovyan/data/2015-summary.json")
dfes.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

We can select a set of records from a data frame using column names.

In [25]:
newdf = df.select("DEST_COUNTRY_NAME", "ORIGIN_COUNTRY_NAME")
newdf.show(3)

+-----------------+-------------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|
+-----------------+-------------------+
|    United States|            Romania|
|    United States|            Croatia|
|    United States|            Ireland|
+-----------------+-------------------+
only showing top 3 rows

We can use "expr" function as the parameters of "select". To further simply, Spark provides a new function selectExpr.

In [26]:
from pyspark.sql.functions import expr
# Both following expressions are doing the same.
df.select(expr("DEST_COUNTRY_NAME as target")).show(2)

df.selectExpr("DEST_COUNTRY_NAME as target").show(2)

+-------------+
|       target|
+-------------+
|United States|
|United States|
+-------------+
only showing top 2 rows

+-------------+
|       target|
+-------------+
|United States|
|United States|
+-------------+
only showing top 2 rows

In [7]:
# Add a new column. Use a Boolean expression for generating values for the column 
df.selectExpr(
    "*", # all original columns
    "(DEST_COUNTRY_NAME = ORIGIN_COUNTRY_NAME) as withinCountry")\
.show(2)

+-----------------+-------------------+-----+-------------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|withinCountry|
+-----------------+-------------------+-----+-------------+
|    United States|            Romania|   15|        false|
|    United States|            Croatia|    1|        false|
+-----------------+-------------------+-----+-------------+
only showing top 2 rows

We can add columns. lit function creates a Column of literal value. Using Spark withColumn() function we can add , rename , derive, split etc a Dataframe Column

In [27]:
from pyspark.sql.functions import lit

df.withColumn("OneConst", lit(1)).show(2)

+-----------------+-------------------+-----+--------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|OneConst|
+-----------------+-------------------+-----+--------+
|    United States|            Romania|   15|       1|
|    United States|            Croatia|    1|       1|
+-----------------+-------------------+-----+--------+
only showing top 2 rows

We can also rename columns.

In [28]:
df1 = df.withColumnRenamed("DEST_COUNTRY_NAME", "target")
df1.columns

['target', 'ORIGIN_COUNTRY_NAME', 'count']

We can also remove columns.

In [29]:
df2 = df.drop("ORIGIN_COUNTRY_NAME")
df2.columns

['DEST_COUNTRY_NAME', 'count']

We can also cast data types.

In [30]:
from pyspark.sql.functions import col
df.withColumn("countlong", col("count").cast("long")).drop("count").schema

StructType(List(StructField(DEST_COUNTRY_NAME,StringType,true),StructField(ORIGIN_COUNTRY_NAME,StringType,true),StructField(countlong,LongType,true)))

We can filter the rows using the where function, similar to SQL where clause.

In [31]:
df.where("count < 2").show(2)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Croatia|    1|
|    United States|          Singapore|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

We can select a subset of data, similar to SQL SELECT statement.

In [32]:
df.select("ORIGIN_COUNTRY_NAME").count()
df.select("ORIGIN_COUNTRY_NAME").distinct().count()

125

We can take a random sample from a dataset.

In [33]:
seed = 5
withReplacement = False
fraction = 0.5
df.sample(withReplacement, fraction, seed).count()

138

We can randomly split a dataset into multiple subsets.

In [34]:
seed = 5
weights = [0.25, 0.75]
dataFrames = df.randomSplit(weights, seed)
dataFrames[0].count() > dataFrames[1].count() # False

False

We can order or sort a dataset in ascending or descending order, similar to SQL Order By clause.
Sort vs OrderBy https://towardsdatascience.com/sort-vs-orderby-in-spark-8a912475390

In [35]:
from pyspark.sql.functions import desc, asc, col, expr

df.sort("count").show(50)
df.orderBy("count", "DEST_COUNTRY_NAME").show(5)
df.orderBy(col("count"), col("DEST_COUNTRY_NAME")).show(5)
df.orderBy(expr("count desc")).show(2)
df.orderBy(col("count").desc(), col("DEST_COUNTRY_NAME").asc()).show(2)

+--------------------+-------------------+-----+
|   DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+--------------------+-------------------+-----+
|             Moldova|      United States|    1|
|               Malta|      United States|    1|
|       United States|          Gibraltar|    1|
|       United States|            Croatia|    1|
|              Cyprus|      United States|    1|
|Saint Vincent and...|      United States|    1|
|       United States|          Lithuania|    1|
|            Suriname|      United States|    1|
|       United States|           Bulgaria|    1|
|       United States|            Georgia|    1|
|       United States|             Cyprus|    1|
|       United States|            Bahrain|    1|
|       United States|          Singapore|    1|
|       Cote d'Ivoire|      United States|    1|
|        Burkina Faso|      United States|    1|
|       United States|   Papua New Guinea|    1|
|              Kosovo|      United States|    1|
|            Djibouti|      United States|    1|
|                Iraq|      United States|    1|
|           Indonesia|      United States|    1|
|       United States|            Estonia|    1|
|       New Caledonia|      United States|    1|
|       United States|         Montenegro|    1|
|              Zambia|      United States|    1|
|       United States|            Namibia|    1|
|       United States|            Vietnam|    2|
|             Georgia|      United States|    2|
|             Liberia|      United States|    2|
|            Malaysia|      United States|    2|
|           Greenland|      United States|    2|
|               Niger|      United States|    2|
|       United States|          Indonesia|    2|
|       United States|            Liberia|    2|
|             Croatia|      United States|    2|
|       United States|              Malta|    2|
|             Hungary|      United States|    2|
|       United States|            Hungary|    3|
|             Tunisia|      United States|    3|
|    Papua New Guinea|      United States|    3|
|           Singapore|      United States|    3|
|       United States|           Malaysia|    3|
|            Bulgaria|      United States|    3|
|            Thailand|      United States|    3|
|       United States|           Thailand|    4|
|             Algeria|      United States|    4|
|       United States|          Greenland|    4|
|       French Guiana|      United States|    5|
|       United States|           Paraguay|    6|
|            Pakistan|      United States|   12|
|       United States|              Egypt|   12|
+--------------------+-------------------+-----+
only showing top 50 rows

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|     Burkina Faso|      United States|    1|
|    Cote d'Ivoire|      United States|    1|
|           Cyprus|      United States|    1|
|         Djibouti|      United States|    1|
|        Indonesia|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|     Burkina Faso|      United States|    1|
|    Cote d'Ivoire|      United States|    1|
|           Cyprus|      United States|    1|
|         Djibouti|      United States|    1|
|        Indonesia|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|          Moldova|      United States|    1|
|    United States|            Croatia|    1|
+-----------------+-------------------+-----+
only showing top 2 rows

+-----------------+-------------------+------+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME| count|
+-----------------+-------------------+------+
|    United States|      United States|370002|
|    United States|             Canada|  8483|
+-----------------+-------------------+------+
only showing top 2 rows

We can limit the size of a dataframe (result).

In [36]:
df.limit(5).show()

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+

We can collect the data to our driver program.

In [37]:
collectDF = df.limit(10)
collectDF.take(5) # take works with an Integer count
collectDF.show() # this prints it out nicely
collectDF.show(5, False) # prints only 5. truncate=
collectDF.collect() # gets all data

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
|    United States|          Singapore|    1|
|    United States|            Grenada|   62|
|       Costa Rica|      United States|  588|
|          Senegal|      United States|   40|
|          Moldova|      United States|    1|
+-----------------+-------------------+-----+

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|United States    |Romania            |15   |
|United States    |Croatia            |1    |
|United States    |Ireland            |344  |
|Egypt            |United States      |15   |
|United States    |India              |62   |
+-----------------+-------------------+-----+
only showing top 5 rows

[Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Croatia', count=1),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Ireland', count=344),
 Row(DEST_COUNTRY_NAME='Egypt', ORIGIN_COUNTRY_NAME='United States', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='India', count=62),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Singapore', count=1),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Grenada', count=62),
 Row(DEST_COUNTRY_NAME='Costa Rica', ORIGIN_COUNTRY_NAME='United States', count=588),
 Row(DEST_COUNTRY_NAME='Senegal', ORIGIN_COUNTRY_NAME='United States', count=40),
 Row(DEST_COUNTRY_NAME='Moldova', ORIGIN_COUNTRY_NAME='United States', count=1)]

In [38]:
# Stop the spark context
spark.stop()